# Ignore SSH keys unless specified in Host subsection
IdentitiesOnly yes

Host cluster-*.coli.uni-saarland.de forbin.coli.uni-saarland.de
	User prashrao
	IdentityFile ~/.ssh/id_rsa
	Compression yes
	CompressionLevel 9
	ForwardX11 yes
	ControlPath /home/prash/.ssh/tmp/%h_%p_%r
	ControlMaster auto
	ProxyCommand ssh -X -q %r@login2.coli.uni-saarland.de -W %h:%p

Host cervelatwurst
	User rao
	Compression yes
	CompressionLevel 9
	ForwardX11 yes
	ProxyCommand ssh -X -q %r@viscenter -W %h:%p

Host viscenter
	User rao
	IdentityFile ~/.ssh/id_rsa
	Compression yes
	CompressionLevel 9
	ForwardX11 yes

Host github.com
	IdentityFile ~/.ssh/id_rsa

Host archlinux.org
	IdentityFile ~/.ssh/id_rsa-aur
